body{
    font-size: 62.5%;
    margin: 0;
}
header,.end{
    background-color: #29bde0;
}
header{
    font-size: 3em;
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 1em 2% 0.5em;
}
.home{
    width: 30px;
    height: 25px;
}
.information{
    width: 25px;
    height: 25px;
}
.champion1{
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
}
.champion{
    width: 176px;
    height: 103px;
}
.end1{
    font-size: 3em;
    font-weight: 700;
    color: #ffc865;
    /*margin: 0 15px 10px;*/
    /*padding: 0 20px;*/
}
.cont-main{
    padding-bottom: 3%;
}
.container{
    padding: 0 35px;
}
.cont-bod{
    border-bottom: 1px solid gray;
}
.font1{
    font-size: 2em;
    color: white;
}
.font2{
    font-size: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.fonttime{
    font-size: 2em;
    color: gray;
    padding-top: 1em;
}
.fontdet,.font3{
    font-size: 2em;
    color: gray;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
footer{
    background:rgba(41,189,224,0.5);
    /*filter:alpha(Opacity=50);!*设置ie浏览器中不透明度为50%*!*/
    /*-moz-opacity:0.5;!*设置火狐浏览器中不透明度为50%*!*/
    /*opacity:0.5;!*设置chrome等浏览器中不透明度为50%*!*/
    width: 100%;
    position: fixed;
    bottom: 0;
}
.but1,.but2{
    color: white;
    border: none;
    font-size: 3em;
    border-radius: 0.5em;
    width: 40%;
    height: 2em;
    margin: 1em 5%;
    float: left;
}
.but1{
    background-color: #f66f6f;
}
.but2{
    background-color: #fbb435;
}



